// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.h-80 {
  height: 80px;
  padding: 0 10px;
}

.navbar-nav {
  align-items: center;
}

main {
  height: calc(100vh - 140px);
}

footer {
  height: 60px;
  background-color: red;
}