@import 'Partials/variables';
body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
 
}


.margin-top{
  margin-top: 75px;
}

.color-primary {
  color: $bluebnb;
}
.color-secondary {
  color: $greenbnb;
}

.background-color-primary {
  background-color: $bluebnb;
}
.background-color-secondary {
  background-color: $greenbnb;
}

.bordergreen{
  border: 1px solid $greenbnb;
}

// * Modify bottom Admin.Apartmet 
.btm-link{
  border-color: $greenbnb;
  color: $bluebnb;

  &:hover{
    background-color: $greenbnb;
    border-color: $greenbnb;
    color: $bluebnb;
    transition: 0.5s;
  }
}
