body {
  font-family: 'Lato', sans-serif;
}

.bordergreen{
  border: 1px solid $greenbnb;
}
.colorgreen{
  color: $greenbnb;
}

// * Modify bottom Admin.Apartmet 
.btm-link{
  border-color: $greenbnb;
  color: $bluebnb;

  &:hover{
    background-color: $greenbnb;
    border-color: $greenbnb;
    color: $bluebnb;
    transition: 0.5s;
  }
}

