footer {
  border-top: 3px solid $greenbnb;
  height: 80px;
  background-color: $black;
  
  .modal-tr{
    transition: 0.5s;
  }
        
  .hover{
    color: white;
      &:hover {
      color: $greenbnb;
      text-decoration: none;
      cursor: pointer;
    }
  }
  
  

  .social-links {
    .social-links-item {
      margin: 0 20px;
      i {
        cursor:pointer;
        font-size: 40px;
        color: #fff;

        &:hover{
          color: $greenbnb;
        }
      
      }
    }
  }
}