footer {
  background-color: $greenbnb;

  .social-links {
    .social-links-item {
      margin: 0 20px;
      i {
        cursor:pointer;
        font-size: 40px;
        color: #fff;
      }
    }
  }
}