header {
  height: 80px;
  border-bottom: 2px solid $bluebnb;

  .navbar {
    height: 100%;

    .logo {
      img#logo {
        width: 130px;
      }
    }

    .navbar-nav {
      .nav-link {
        font-weight: 700;
        color: $bluebnb;
        &:hover {
          color: $greenbnb;
        }
      }
      .nav-link.btn {
        background-color: $bluebnb;
        color: #fff;
        &:hover {
          background-color: $greenbnb;
        }
      }

      
    }
  }

  .zindex{
    z-index: 1;
  }
}