main {
  min-height: $main-heigth;
  padding-top: 40px;

  #sponsorizations {

    background-color: #fff;

    h2 {
      color: $bluebnb;
      font-weight: 700;
    }

    .container-fluid {
      overflow-x: scroll;
      /* width */
        &::-webkit-scrollbar {
          height: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #fff;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $greenbnb;
          border-radius:10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: $greenbnb;
        }

      .sponsored-item {
        margin: 0 10px 20px;
        border-radius: 5px;
        height: 160px;
        width: 240px;
        background-size: cover;
        background-position: center;

        img {
          width: 100%;
          border-radius: 10px;
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
        }
      }
    }


  }

  #developers {

    background-color: $bluebnb;
    border-bottom: 5px solid #fff;
    .developer {
      height: 100%;
      flex-wrap: wrap;

      .pic {

        margin-top: 30px;
        padding-bottom: 30px;

        &:not(:last-child) {
          margin-right: 50px;
        }
      }

      .footer-img {
        width: 140px;

      }
      .custom-social {
        color: $greenbnb;
        font-size: 40px;
        background-color: $white;
        padding: 10px;

      }
    }
  }

}



// homepage main


// Search

.search-container {

  .row {

    .list-apartment{
      height: calc(100vh - 78px);
      overflow-y: auto;
      .container-apartment{
        // height: 200px;
        position: relative;

        .search-image {

          padding: 10px;

        }
        .info-apartment {
          .info-text {
            font-size: 13px;
          }
          .info-tag{

            .list-info{
              list-style: none;
              margin-bottom: 0px !important;


              li {
                span {
                  font-size: 10px;
                  padding-right: 10px;
                  padding-left: 10px;
                }
              }

            }

          }
        }
      }

    }
    .carousel-pers {
      margin-top: 100px;
    }



  }
}

#sponsorized {
  position: absolute;
  top: 0;
  left: 10px;
}

//search end

//Index Admin
.title-pers{
  color: $bluebnb !important;
}
#admin-index{


    .rounded-personalized {
      border-radius: 25px;
      max-height: 150px;
      max-width: 150px;
      background-position: center;
      background-size: cover;
    }
    .link-personalized {
      justify-content: flex-end;
    
    .btn-personalized {
      border-radius: 20px;
      border-color: $bluebnb;
      &:hover {
        background-color: $bluebnb;
        color: $white;
      }
    }
  }
    @media (max-width: 765px) {
      .link-personalized {
        justify-content: center;
      }
      .rounded-personalized {
        margin: auto;
        width: 200px;
        height: 200px;
      }
    }
}
//Index Admin

// Show guest 
#show {

  #carousel-show {
    .carousel-item {
      .test {
        height: 500px;
        background-position: center;
        background-size: cover;
      }
    }
  }
  .border-pers {
    border-right: 2px ridge $bluebnb;
  }
  .services {
    h2 {
      margin-left: $spacer *2 ;
    }

    ul {
      list-style: none;
      height: 75px;
      li {
        cursor: default;
        .dot-pers {
          color: $bluebnb;
          transition: 0.5s;

        }
        &:hover .dot-pers {
          color: $greenbnb;
        }
      }
    }
  }
  #map-container {
    border: 1px solid red;
    height: 500px;
  }
  .message {
    ul {
      list-style: none;
      li {
        border: 1px solid $gray;
        border-radius: 20px ;
        cursor: pointer;
        .dot-pers {
          color: $greenbnb;
          transition: 0.5s;
          margin-left: 5px;
          margin-top: 8px;
          padding: 0;

        }
        &:hover .dot-pers {
          color: $bluebnb;
        }
        p {
          margin: 0;
          padding: 0;
          margin-top: 3px;
        }
      }
    }
  }

  .contatti {
    form{
      padding: $spacer * 2.1;
    }
  }
  // MEDIA QUERY

  @media (max-width: 765px) {
    .border-pers {
      border-right: none;
      border-bottom: 2px ridge $bluebnb;
      margin-bottom: $spacer * 2;
    }
    .services {
      h2 {
        margin-left: 0;
      }
      ul{
        margin-left: - $spacer * 3;
        height: 400px;
        li {
          padding-bottom: 10px;
          padding-right: $spacer * 2;
        }
      }

    }
    .message {
      margin-left: -30px;
      h2 {
        text-align: center;
        padding-top: $spacer * 3;
        margin-left: 30px;
      }
    }
  }
}