.navbar {
  padding: 0;
  padding: 10px;
  transition: all 0.4s;
  position: relative;
  z-index: 5;
  
  &.nav-blue {
    padding: 0 10px;
    background-color: $bluebnb;
    
  }  

  .logo {
    img#logo {
      height: 40px;
    }
  }
  .navbar-toggler{
    background-color: white;
    .hambu{
      height: 20px;
      width: 20px;
      color: $greenbnb;
    }

  }
  

  .navbar-nav {

    .nav-link {
      font-weight: 700;
      color: white;
      &:hover {
        color: $greenbnb;
      }
    }

    .nav-link.blue {
      color: $bluebnb;
      &:hover {
        color: $greenbnb;
      }
    }

    .nav-link.btn {
      background-color: $bluebnb;
      color: #fff;

      &:hover {
        background-color: $greenbnb;
      }
    }

    .dropdown-menu {
      padding: 0;

      .dropdown-item {
        padding: 10px 1.5rem;
      }
      
      .dropdown-divider {
        margin: 0;
      }

      &.drop-right {
        transform: translate(15%, 0);
        border-color: $greenbnb;        
        
      }

      .dropdown-item.active, .dropdown-item:active {
        color: $greenbnb;
        font-weight: 400;
        background-color: $greenbnb;
      }

      .dropdown-item:hover, .dropdown-item:focus {
        color: #fff;
        font-weight: 700;
        background-color: $greenbnb;
      }

      // &::after {
      //   position: absolute;
      //   top: -7px;
      //   right: 24px;
      //   content: "";
      //   width: 0; 
      //   height: 0; 
      //   border-left: 8px solid transparent;
      //   border-right: 8px solid transparent;
      //   border-bottom: 8px solid #fff;
      //   margin-top: 10px;
      // }

      &::before {
        position: absolute;
        top: -8px;
        right: 24px;
        content: "";
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $greenbnb;
      }
    }
  }
}

  // Navbar white fixed
  .navbar.navbar-fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    background-color: #fff;
    .searchbar{
      @media screen and (max-width:600px){
        display:none;
      }
    }
    .navbar-toggler{
      background-color: $bluebnb;
      .hambu{      
        color: $white;  
      }
    }
   
    .navbar-nav {
      .nav-link {
        color: $bluebnb;
      }
    }
  }

  // effect name log
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    margin-top: 10px;
}

  .zindex{
    z-index: 1;
  }


