#search-results {
  height: calc(100vh - 80px);

  .searchbar {
    margin-top: 0;
    margin-bottom: 0;
    height: 270px;
    padding: 10px;
    background-color: $bluebnb;
    color: #fff;
    font-weight: 700;

  }

  .list-apartment {
    height: calc(100vh - 350px);
  }
}