//responsive point
$smartphone: 990px;

// Body
$body-bg: #f8fafc;
$main-heigth: calc(100vh - 404px);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: white;
$gray: #BDBDBD;
$dark-gray: #5a5a5a;

// Boolbnb Colors 
$bluebnb: #001533;
$greenbnb: #00F087;

//sponsorization size
$btn-size: 80%;
$btn-smarphone-size: 100%;